<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505279409519-u5aq9vvk0gtlqh3dqo4moc06fpvfj8ik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505279409519-u5aq9vvk0gtlqh3dqo4moc06fpvfj8ik</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>505279409519-ou4ip6e4c4ajb05qr7e4rgfkjigb208b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCG01D7b1cb5-fxTV5M2rd6p0g_y0vGLpc</string>
	<key>GCM_SENDER_ID</key>
	<string>505279409519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.ctwoon.kinohome</string>
	<key>PROJECT_ID</key>
	<string>kinohomef</string>
	<key>STORAGE_BUCKET</key>
	<string>kinohomef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505279409519:ios:93cf046267050b1de8cc9a</string>
</dict>
</plist>